#main-box {
  width: fit-content;
  max-width: 100vw;
}

#main-card-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 5px;
}

@media screen and (max-width: 775px) {
}

@media screen and (max-width: 376px) {
  #main-card-box {
    display: flex;
    flex-direction: column;
  }
}
