.card {
  display: grid;
  grid-template-areas:
    "image"
    "bottom";
  margin: 1vh auto;
  box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.349);
  width: 80%;
  height: auto;
}

.gradient {
  width: 100%;
  height: auto;
  grid-area: image;
  /* border: 4px solid blue; */
}

.bottom-card {
  grid-area: bottom;
  display: flex;
  /* border: 4px dashed green; */
}

.left {
  /* border: 3px solid lightblue; */
  width: 67%;
}

.right {
  /* border: 2px solid orange; */
  display: flex;
  align-items: center;
  width: 33%;
}

.card-title {
  /* border: 3px solid yellow; */
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0px 5px 10px;
}

.button {
  width: fit-content;
  padding: 4px;
  margin: 5px 0px 10px 10px;
  border: none;
  font-size: 10px;
  font-weight: 700;
  /* border: 2px solid magenta; */
}

.plus-box {
  display: flex;
  justify-content: right;
  padding: 0 20% 0 0;
  background-color: transparent;
  border: none;
  font-family: "Roboto", sans-serif;
  /* border: 2px solid cyan; */
}

.plus-btn {
  width: 40%;
  background-color: transparent;
  border: none;
  /* border: 2px dashed purple; */
}
